#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #0e6881aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}